<!DOCTYPE html>
<html>
<head>
  <title>JApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if signed_in? %>
  Welcome <%= current_user.username %>
  <%= button_to 'Log out', session_url, method: :delete %>
  -----------------------
<% else %>
<%= button_to 'Sign in', new_session_url, method: :get %>
<%= button_to 'Sign up', new_user_url, method: :get %>
<% end %>

<%= yield %>

</body>
</html>
